:host {
  display: block;
}

.buttons{
  align-items: center;
  background-color: white;
  display: flex;
  padding: 10px 0 10px 15px;
  border-block-start: 1px solid var(--calcite-color-border-3);
  border-block-end: 1px solid var(--calcite-color-border-3);
}

.comment-btn{
  display: flex;
  gap: 5px;
  width: 35px;
}