www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Tools, notes, outputs
__*.*
__*
.vscode/
coverage/

# Temporary build products
src/**/*.js
!src/**/assets/**/*.js
!src/demos/**/*.js
