:host {
  display: block;
}

.div-visible {
  display: inherit;
}

.div-visible-search {
  display: flex;
  height: 44px;
  align-items: center;
  padding-bottom: 0;
}

.div-not-visible {
  display: none;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.search-widget {
  width: 100% !important;
  border: 1px solid var(--calcite-ui-border-input);
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.search-distance-container {
  padding-top: "1rem" !important;
}
