:host {
  display: flexbox;
}

.parent-container {
  height: 100%;
  max-width: 100%;
  position: relative;
}

.child-container {
  width:100vw;
  margin: 1rem;
}

.inputBottomSeparation {
  margin: 0 0 1.5rem 0;
}
