:host {
  display: block;
}

.div-visible {
  display: inherit;
}

.div-visible-search {
  display: flex;
  height: 44px;
  align-items: center;
  padding-bottom: 0;
}

.div-not-visible {
  display: none;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.search-widget {
  width: 100% !important;
  border: 1px solid var(--calcite-ui-border-input);
}

.control-container {
  display: inline-flex;
  padding-bottom: 1rem;
}

.padding-end-1 {
  padding-inline-end: 1rem;
}
