:host {
  display: block;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.search-widget {
  width: 100% !important;
  border: 1px solid var(--calcite-ui-border-input);
}

.control-container {
  display: inline-flex;
  padding-bottom: 1rem;
}

.padding-end-1 {
  padding-inline-end: 1rem;
}
