$solutions-blue: #0079c1;
$solutions-hover-blue: #005e95;

$solutions-background-color: #F4F4F4;

$solutions-white: #FFFFFF;

$solutions-light-gray: #808080;
$solutions-dark-gray: #6e6e6e;

$solutions-light-purple: #CBC3E3;
