:host {
  display: block;
}

.download-container {
  padding-bottom: 1rem;
}

.download-btn {
  padding-top: 1rem;
  float: right;
}

.download-btn-container {
  display: "table";
  margin: "0 auto";
}
