:host {
  display: block;
}

.main-container {
  min-width: 25em;
}

.background-w {
  background-color: white;
}

.padding-1-2 {
  padding: 0.5rem;
}

.page-container {
  padding: 1rem;
  flex: 1 1 auto;
  box-sizing: border-box;
  background-color: var(--calcite-ui-background);
}

.list-border {
  border: 1px solid var(--calcite-ui-border-2);
}

.start-message {
  padding: 1rem;
  background-color: var(--calcite-ui-foreground-3);
  margin-top: 0px !important;
}

.layer-picker-container {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  padding-top: 1rem;
  background-color: var(--calcite-ui-foreground-3);
  margin-top: 0px !important;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.main-shell {
  display: "table";
}
