:host {
  display: block;
}

.main-container {
  min-width: 25em;
}

.background-w {
  background-color: white;
}

.padding-top-1-2 {
  padding-top: 0.5rem;
}

.page-container {
  padding: 1rem;
  flex: 1 1 auto;
  box-sizing: border-box;
}
